language: node_js
node_js:
  - '5'
  - '5.1'
  - '4'
  - '4.2'
  - '4.1'
  - '4.0'
  - '0.12'
before_script:
  - git config --global user.name "Daniel Perez"
  - git config --global user.email "tuvistavie@gmail.com"
before_install: npm install -g grunt-cli
script: grunt coverage
notifications:
  email: false
